[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"

[dev-packages]
pytest = "*"
alembic = "*"

[requires]
python_version = "3.6"
